<!--
 * @Author: BDFD
 * @Date: 2021-10-10 16:42:07
 * @LastEditTime: 2021-11-02 23:17:03
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \Project1.1_David-Online-Portfolio\views\page_layout\Project_layout.ejs
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Project Report Detail</title>
		<link rel="icon" type="image/png" href="/images/My Logo/favicon2.png" />
		<link href="/stylesheets/Project/style.css" rel="stylesheet" />
		<script
			type="text/javascript"
			src="/javascripts/Project/jquery.min.js"
		></script>
		<script type="text/javascript" src="/javascripts/Project/index.js"></script>
		<script type="text/javascript" src="/javascripts/disable.js"></script>
	</head>
	<body>
		<%- body%>
	</body>
</html>
