<!--
 * @Date         : 2022-12-03 22:19:07
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2022-12-04 01:17:11
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\partials\footer.ejs
 * Copyright (c) 2022 by BDFD, All Rights Reserved. 
-->
<footer class="ace-container-shift" id="ace-footer">
    <div class="ace-container">
        <div class="ace-footer-cont clear-mrg">
            <p class="text-center">Copyright 2022 &copy; XL(Xin Lin) All Right
                Reserved.<br />
                Last Updated Date: 2022/12/04
            </p>
        </div>
    </div>
    <!-- .ace-container -->
</footer>
<!-- #ace-footer -->

<!-- Triangle Shapes -->
<svg class="hidden-sm hidden-xs" height="519" id="ace-bg-shape-1" width="758">
    <polygon points="0,455,693,352,173,0,92,0,0,71"
        style="fill:#d2d2d2;stroke:purple;stroke-width:0; opacity: 0.5">
</svg>
<svg class="hidden-sm hidden-xs" height="536" id="ace-bg-shape-2" width="633">
    <polygon points="0,0,633,0,633,536"
        style="fill:#c0e3e7;stroke:purple;stroke-width:0" />
</svg>