<!--
 * @Author: BDFD
 * @Date: 2021-10-10 13:47:42
 * @LastEditTime: 2022-03-24 13:18:48
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\partials\header.ejs
-->
<!-- DEMO STYLES -->
<link href="nav/css/css.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="nav/css/styles.css">
<!-- ITEM ASSETS -->
<link rel="stylesheet" href="nav/css/normalize.min.css">
<link rel="stylesheet" href="nav/css/all.min.css">
<link rel="stylesheet" href="nav/css/item.css">
<!-- ITEM SCRIPTS -->
<script src="nav/js/item.js"></script>

<!-- DEMO SCRIPTS -->
<script src="nav/js/clipboard.js"></script>
<script src="nav/js/scripts.js"></script>
<!-- MONAKA HEADER -->
<header class="monaka-header monaka-header-aligned-left" role="banner">
    <div class="monaka-container monaka-flex monaka-align-middle monaka-align-justify">

        <!-- MOBILE MENU TOGGLE -->
        <div class="monaka-menu-toggler monaka-mobile-only">
            <label for="MONAKA-NAV">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
                    <path d="M3 18h12v-2H3v2zM3 6v2h18V6H3zm0 7h18v-2H3v2z"></path>
                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                </svg>
            </label>
        </div>
        <!-- MOBILE MENU TOGGLE END -->

        <!-- MOBILE/DESKTOP LOGO -->
        <!-- <div class="monaka-logo">
                <h1>
                    <a href="" title="Knox">
                        <img src="../static/nav/picture/logo-light.png" alt="Knox Logo Light" class="monaka-logo-light">
                        <img src="../static/nav/picture/logo-dark.png" alt="Knox Logo Dark" class="monaka-logo-dark">
                        <span>Knox</span>
                    </a>

                </h1>
            </div> -->
        <!-- MOBILE/DESKTOP LOGO END -->

        <div class="monaka-flex monaka-align-middle lg:monaka-flex-auto">
            <input type="checkbox" id="MONAKA-NAV" class="monaka-menu-monitor monaka-hidden">
            <label for="MONAKA-NAV" class="monaka-menu-overlay"></label>

            <!-- MONAKA MENU -->
            <nav class="monaka-menu" role="navigation">
                <ul class="monaka-menu-title">
                    <li>

                        <!-- MOBILE MENU TOGGLE -->
                        <div class="monaka-menu-toggler">
                            <label for="MONAKA-NAV">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
                                    <path d="M3 18h12v-2H3v2zM3 6v2h18V6H3zm0 7h18v-2H3v2z"></path>
                                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                                </svg>
                            </label>
                        </div>
                        <!-- MOBILE MENU TOGGLE END -->

                        <!-- MOBILE LOGO
                            <div class="monaka-logo">
                                <h1>
                                    <a href="" title="Knox">
                                        <img src="../static/nav/picture/logo-light.png" alt="Knox Logo Light" class="monaka-logo-light">
                                        <img src="../static/nav/picture/logo-dark.png" alt="Knox Logo Dark" class="monaka-logo-dark">
                                        <span>Knox</span>
                                    </a>

                                </h1>
                            </div> -->
                        <!-- MOBILE LOGO END -->

                    </li>
                </ul>
                <ul class="monaka-menu-body">
                    <li class="monaka-menu-item monaka-menu-active"><a href="/home">
                            <!-- <i class="fa-brands fa-42-group"></i> -->
                            <span>Home</span>
                        </a></li>
                    <li class="monaka-menu-item">
                        <a href="#">
                            <!-- <i class="fas fa-shipping-fast"></i> -->
                            <span>Introduction</span><span class="monaka-menu-arrow"></span>
                        </a>
                        <ul>
                            <!-- DROPDOWN MENU -->
                            <li class="monaka-menu-item">
                                <a href="/intro_aboutme">About Me
                                </a>
                            </li>
                            <li class="monaka-menu-item">
                                <a href="/intro_teachingphilosophy">My Teaching Philosophy
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="monaka-menu-item">
                        <a href="#">
                            <span>Personal Achievement & Activity</span><span class="monaka-menu-arrow"></span>
                        </a>
                        <ul>
                            <!-- DROPDOWN MENU -->
                            <li class="monaka-menu-item">
                                <a href="/edu">Formal Education
                                </a>
                            </li>
                            <li class="monaka-menu-item">
                                <a href="/work_exp">Work Experience
                                </a>
                            </li>
                            <li class="monaka-menu-item">
                                <a href="/placement_exp">Placement Experience
                                </a>
                            </li>
                            <li class="monaka-menu-item">
                                <a href="/professional_cert">Professional Certificate
                                </a>
                            </li>
                            <li class="monaka-menu-item">
                                <a href="/professional_devp">Professional Development
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="monaka-menu-item">
                        <a href="#">
                            <span>Activity Plan</span><span class="monaka-menu-arrow"></span>
                        </a>
                        <ul>
                            <!-- DROPDOWN MENU -->
                            <li class="monaka-menu-item"><a href="/act_plan_ryersonecs">
                                    <span>Ryerson ECS Placement Plan</span></a>
                                <!-- <ul>
                                    <li class="monaka-menu-item"><a href="/Gumbel.html"><span>Gumbel 概率分布</span></a>
                                    </li>
                                    <li class="monaka-menu-item"><a href="#"><span>计算模块2</span></a></li>
                                </ul> -->
                            </li>
                            <li class="monaka-menu-item">
                                <a href="#"><span>Working Place Learning
                                        Plan</span> <span class="monaka-menu-arrow"></span></a>
                                <ul>
                                    <li class="monaka-menu-item"><a
                                            href="/act_plan_workplace_kingdergarden"><span>Kingdergarden</span></a></li>
                                    <li class="monaka-menu-item"><a
                                            href="/act_plan_workplace_preschool"><span>Preschool</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="monaka-menu-item">
                        <a href="#">
                            <span>Academic Course Work</span><span class="monaka-menu-arrow"></span>
                        </a>
                        <ul>
                            <!-- DROPDOWN MENU -->
                            <li class="monaka-menu-item">
                                <a href="#">Significant Assignment
                                </a>
                            </li>
                            <li class="monaka-menu-item">
                                <a href="#">Annotated Bibilography
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- <div class="monaka-menu-right-section" style="margin-top:0px;">
                <span style="font-family: 仿宋; font: size 19px;"><strong></strong><br />
                    <span style="font-family: Times New Roman; font: size 19px;">Xin Portfolio
                        Studio</span></span>
                <img src="../static/imgs/gause/logo.png" alt="">
            </div> -->
        </div>
    </div>
    <div class="monaka-header-shadow"></div>
</header>
<div class="monaka-header-spacer"></div>
<!-- MONAKA HEADER END -->