<!--
 * @Author: BDFD
 * @Date: 2021-10-10 13:47:42
 * @LastEditTime: 2021-11-02 22:01:53
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \Project1.1_David-Online-Portfolio\views\partials\hidden_navigation.ejs
-->
<nav class="ace-nav hidden-lg hidden-md" id="ace-nav-sm">
	<ul class="clear-list">
		<li>
			<a data-tooltip="Home" href="/home">
				<i class="fas fa-home fa-2x"></i>
			</a>
		</li>
		<li>
			<a data-tooltip="Skill_List" href="/skill_list">
				<i class="far fa-list-alt fa-2x"></i>
			</a>
		</li>
		<li>
			<a data-tooltip="Work_Exp" href="/work_exp">
				<i class="fas fa-briefcase fa-2x"></i>
			</a>
		</li>
		<li>
			<a data-tooltip="Project" href="/project">
				<i class="fas fa-blog fa-2x"></i>
			</a>
		</li>
		<!-- <li>
			<a data-tooltip="Gallery" href="/gallery">
				<i class="fas fa-photo-video fa-2x"></i>
			</a>
		</li>
		<li>
			<a data-tooltip="Demo" href="/demo">
				<i class="fas fa-vial fa-2x"></i>
			</a>
		</li> -->
		<li>
			<a data-tooltip="Contact" href="/contact">
				<i class="far fa-id-card fa-2x"></i>
			</a>
		</li>
	</ul>
</nav>
<!-- #ace-tab-nav-sm -->
