<!--
 * @Author: BDFD
 * @Date: 2021-10-10 13:47:42
 * @LastEditTime: 2021-11-03 01:08:08
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \Project1.1_David-Online-Portfolio\views\partials\name_card.ejs
-->
<article class="ace-card bg-primary" id="ace-card">
  <div class="ace-card-inner text-center">
    <img
      alt=""
      class="avatar avatar-195"
      height="195"
      src="images/My Logo/HeadPhoto_1.jpg"
      width="195"
    />
    <h1>David Chen</h1>
	<br class="text-muted">BI Developer & </br>
						   Business Strategy Analyst</p>
    <ul class="ace-social clear-list">
      <!-- social media logo  -->
      <li>
        <a href="https://www.linkedin.com/in/david-chen-52b87780/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/bdfd" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com" target="_blank">
          <i class="fab fa-twitter-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.pinterest.ca" target="_blank">
          <i class="fab fa-pinterest-square"></i>
        </a>
      </li>
    </ul>
  </div>
  <footer class="ace-card-footer">
    <a class="btn btn-lg btn-block btn-thin btn-upper" href="./file/Resume.pdf" download
    >Download Resume</a
    ></br>
    <a class="btn btn-lg btn-block btn-thin btn-upper" href="mailto:davidchen014@gmail.com">Send Email</a>
  </footer>
</article>
<!-- #ace-card -->
