<!--
 * @Author: BDFD
 * @Date: 2021-10-10 13:47:42
 * @LastEditTime: 2022-03-23 17:33:42
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\partials\small_navigation.ejs
-->
<div id="ace-nav-wrap" class="hidden-sm hidden-xs">
	<div class="ace-nav-cont">
		<div id="ace-nav-scroll">
			<nav id="ace-nav" class="ace-nav">
				<ul class="clear-list">
					<li>
						<a href="/home" data-tooltip="Home">
							<i class="fas fa-home"></i>
						</a>
					</li>
					<li>
						<a data-tooltip="Introduction" href="/intro">
							<i class="far fa-id-card"></i>
						</a>
					</li>
					<li>
						<a data-tooltip="Personal Achievement and Activities" href="/achievement">
							<i class="fas fa-briefcase"></i>
						</a>
					</li>
					<li>
						<a data-tooltip="Activity Plan" href="/activity">
							<i class="far fa-list-alt"></i>
						</a>
					</li>
					<li>
						<a data-tooltip="Academic Course Work" href="/academic">
							<i class="fas fa-blog"></i>
						</a>
					</li>
					<!-- <li>
						<a data-tooltip="Gallery" href="/gallery">
							<i class="fas fa-photo-video"></i>
						</a>
					</li>
					<li>
						<a data-tooltip="Testimonial" href="/demo">
							<i class="fas fa-vial"></i>
						</a>
					</li> -->
					<!-- <li>
						<a data-tooltip="Contact" href="/contact">
							<i class="far fa-id-card"></i>
						</a>
					</li> -->
				</ul>
			</nav>
		</div>

		<div id="ace-nav-tools" class="hidden">
			<span class="ace-icon ace-icon-dots-three-horizontal"></span>

			<button id="ace-nav-arrow" class="clear-btn">
				<span class="ace-icon ace-icon-chevron-thin-down"></span>
			</button>
		</div>
	</div>
	<div class="ace-nav-btm"></div>
</div>
<!-- .ace-nav-wrap -->