<!--
 * @Author: BDFD
 * @Date: 2022-02-04 14:38:37
 * @LastEditTime: 2022-02-11 13:38:24
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \Heroku_Python_Template\templates\user.html
-->
{% extends "./layout/base.html" %}
{% block content %}
<table border="1">
    {% for key,value in result.items() %}
    <tr>
        <th>
            {{key}}
        </th>
        <td>
            {{value}}
        </td>
    </tr>
    {% endfor %}
</table>

<a href="/signup">Back to Sign Up Page</a>
<a href="/">Back to Index/Home</a>
{% endblock %}