<!--
 * @Author: BDFD
 * @Date: 2022-03-23 13:45:20
 * @LastEditTime: 2022-03-24 12:06:33
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \SideProject054_XinPortfolio\views\Index\03Edu&Achievement03.ejs
-->
<script>
	document.title = 'Placement Experience';
</script>

<div id="ace-content" class="ace-container-shift">
	<div class="ace-container">
		<div class="ace-paper-stock">
			<main class="ace-paper clearfix">
				<div class="ace-paper-cont clear-mrg">
					<!-- START: PAGE CONTENT -->
					<div class="padd-box">
						<%- include('../PageEdit/03Edu&Achievement/03PlacementExperience') %>
					</div>
					<!-- .padd-box -->
					<!-- END: PAGE CONTENT -->
				</div>
				<!-- .ace-paper-cont -->
			</main>
			<!-- .ace-paper -->
		</div>
		<!-- .ace-paper-stock -->
	</div>
	<!-- .ace-container -->
</div>
<!-- #ace-content -->