<!--
 * @Date         : 2022-12-04 01:02:36
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2022-12-04 01:04:40
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\Index\04ActivityPlan04.ejs
 * Copyright (c) 2022 by BDFD, All Rights Reserved. 
-->

<script>
	document.title = 'Ryerson ECS Placement Plan';
</script>

<div id="ace-content" class="ace-container-shift">
	<div class="ace-container">
		<div class="ace-paper-stock">
			<main class="ace-paper clearfix">
				<div class="ace-paper-cont clear-mrg">
					<!-- START: PAGE CONTENT -->
					<div class="padd-box clear-mrg">
						<!-- Summary Section -->
						<%- include('../PageEdit/04ActivityPlan/04MetropolitanECSPlacementPlan')
							%>
					</div>
					<!-- .ace-paper-cont -->
			</main>
			<!-- .ace-paper -->
		</div>
		<!-- .ace-paper-stock -->
	</div>
	<!-- .ace-container -->
</div>
<!-- #ace-content -->