<!--
 * @Author: BDFD
 * @Date: 2022-03-23 13:45:20
 * @LastEditTime: 2022-03-24 13:25:37
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \SideProject054_XinPortfolio\views\Index\04ActivityPlan02.ejs
-->
<script>
	document.title = 'Working Place Play Based Learning Plan Kingdergarden';
</script>

<div id="ace-content" class="ace-container-shift">
	<div class="ace-container">
		<div class="ace-paper-stock">
			<main class="ace-paper clearfix">
				<div class="ace-paper-cont clear-mrg">
					<!-- START: PAGE CONTENT -->
					<div class="padd-box clear-mrg">
						<!-- Summary Section -->
						<%- include('../PageEdit/04ActivityPlan/02WorkingPlacePlayBasedLearningPlan_Kingdergarden') %>
					</div>
					<!-- .ace-paper-cont -->
			</main>
			<!-- .ace-paper -->
		</div>
		<!-- .ace-paper-stock -->
	</div>
	<!-- .ace-container -->
</div>
<!-- #ace-content -->