<!--
 * @Author: BDFD
 * @Date: 2022-03-23 13:45:20
 * @LastEditTime: 2022-03-24 15:16:36
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \SideProject054_XinPortfolio\views\Index\Login.ejs
-->

<body>
	<div id="particles-js" style="display: flex; align-items: center; justify-content: center"></div>
	<div class="login-page">
		<div class="login-content">
			<img width="160px" height="120px" class="login-pic" src="images/My Logo/HeadPhoto_1.jpg"
				alt="Xin Photo" /><br />
			<a href="/home">
				<h1 align="center" style="font-family:'Times New Roman';color: aliceblue;font-size: x-large;">Enter Xin
					Portfolio</h1>
			</a>
		</div>
	</div>
</body>