<!--
 * @Author: your name
 * @Date: 2021-11-02 20:54:19
 * @LastEditTime: 2022-03-24 10:32:55
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\Index\z02_1certificate_list.ejs
-->
<script>
	document.title = 'Resume Home Page';
</script>

<div id="ace-content" class="ace-container-shift">
	<div class="ace-container">
		<div class="ace-paper-stock">
			<main class="ace-paper clearfix">
				<div class="ace-paper-cont clear-mrg">
					<!-- START: PAGE CONTENT -->
					<div class="padd-box clear-mrg">
						<%- include('../PageEdit/A204_SkillListPage_CertificateSection_Full') %>
							<!-- Technical Skill Section -->
					</div>
					<!-- .padd-box -->
					<!-- END: PAGE CONTENT -->
				</div>
				<!-- .ace-paper-cont -->
			</main>
			<!-- .ace-paper -->
		</div>
		<!-- .ace-paper-stock -->
	</div>
	<!-- .ace-container -->
</div>
<!-- #ace-content -->