<!--
 * @Date         : 2022-12-03 23:04:52
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2022-12-04 01:30:02
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\PageEdit\05AcademicCouseWork\01SignificantAssignment_02.ejs
 * Copyright (c) 2022 by BDFD, All Rights Reserved. 
-->

<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<h2 class="title-lg text-upper">Significant Assignment 02</h2>
			<h4 align="center"><strong>Sexual Education in Ontario’s Early
					Childhood Education Settings (ECESs) </strong></h4>
			<p>
				Xin Lin 500673396 Early Childhood Studies, Toronto Metropolitan
				University<br /> CINT 906 Section X10Professor Michael
				Thorn<br />
				Wednesday, November 16, 2022 Words count: 2000
			</p>
			<h4 align="center"><strong>Sexual Education in
					Ontario’s ECESs 2</strong></h4>
			<p style="text-indent:50px;">
				Ontario's Early Childhood Educators (ECEs) can work with
				children from infancy to school age in various settings,
				including but not limited to childcare centres, primary schools.
				(Balter et al., 2016). One of the Ontario fundamental education
				guidelines for Early Childcare Education Settings (ECESs) is The
				Early Learning for Every Child Today (ELECT). ELECT guides ECEs
				working in the ECESs to plan the curriculum to support
				children's development needs in physical, social, emotional,
				communication, language, and cognitive domains (Ontario Ministry
				of Education, 2014). The ELECT expects the learning environment
				to be equitable for all children with diverse needs, including
				supporting their gender and sexual orientation development
				(Ontario Ministry of Education, 2014). However, ELECT does not
				have clear guidance on supporting children's sexual development
				(Ontario Ministry of Education, 2014).
			</p>
			<p style="text-indent:50px;">
				Children's sexual behaviour occurs in the early year, and the
				lack of age-appropriate sexual education in Ontario's ECESs can
				cause children to be under a high risk of sexual abuse (Balter
				et al., 2016; Davies et al., 2000). In this essay, I will argue
				that because children's sexual awareness can occur in the early
				years, both Ontario's ECEs and children in the ECESs can benefit
				from a planned age-appropriate sexual curriculum because the
				curriculum can help educators and families to build up
				children's sexual knowledge and teach children how to protect
				themselves. This paper will first discuss how the lack of sexual
				education ignores children's sexual development needs throughout
				their formative years and increases their vulnerability to
				sexual abuse. Then, this paper will discuss the challenges that
				ECEs face due to a lack of curriculum and training to educate
				children and meet the needs of diverse families. The final
				section of this paper will discuss the significance of gender
				education in addressing children’s need for gender diversity
				development. In addition, this paper will also provide some
				suggestions on what should be considered in the standardized
				sexual curriculum.
			</p>
			<h4 align="center"><strong>Sexual Education in
					Ontario’s ECESs 3</strong></h4>
			<p style="text-indent:50px;">
				Firstly, children's sexual awareness occurs in the early years;
				therefore, having sex education could meet the children's
				developmental needs and prevent them from sexual abuse (Astuti
				et al., 2017). Most ECEs had working opportunities relevant to
				developing children's sexuality and witnessed numerous
				sexuality-related activities, including toileting,
				self-touching, playing, and sharing sexually related
				observations of their families in the ECESs (Balter et al.,
				2016). A common observation could be that children may
				demonstrate their interest in genitalia by watching and touching
				the reproductive organs of others and representing the genitalia
				in children's daily creative play (Davies et al., 2000). ECEs
				have noted that children's emerging sexual awareness is mirrored
				in their drawings or models of genitalia and their stimulations
				of sexual interaction (Davies et al., 2000). As an ECE, I also
				observe that some preschoolers avoid using the restroom with
				children of the opposing gender and refuse to be supervised by
				teachers. All ECEs' observations demonstrate that children's
				sexual awareness can happen at an early age.
			</p>
			<p style="text-indent:50px;">
				The Canadian provinces and territories lack a standardized
				primary sexual education curriculum, and the most recent Ontario
				Sexual Health Education exclusively targets kids in grades one
				through eight (Ontario, 2019; Robinson et al., 2019). Since the
				existing provincial educational document demonstrates that the
				government does not evaluate the requirement for sexual
				education for children from birth to kindergarten, young
				children in ECESs lack sexual development support.
			</p>
			<p style="text-indent:50px;">
				Sexualized behaviour in children is often the beginning point
				for sexual abuse suspicion, and children’s representation of
				genitalia in their drawings is assumed to be a reliable sign of
				sexual abuse (Davies et al., 2000). Young children are
				susceptible to sexual abuse from community members, school
				instructors, families, and peers (Briggs, 2014). Child sexual
				abuse research indicates that 12% of participants who
				self-identified as child sexual abusers said they
			</p>
			<h4 align="center"><strong>Sexual Education in
					Ontario’s ECESs 4</strong></h4>
			<p style="text-indent:50px;">
				started assaulting females before age ten (Briggs, 2014).
				Therefore, the abuser is constantly close to young children
				(Astuti et al., 2017), and age-appropriate sex education in
				ECESs may protect children from sexual abuse and sexual
				harassment.
			</p>
			<p style="text-indent:50px;">
				Secondly, many ECEs lack the training and curriculum support and
				have challenges working with families. Most ECEs are willing to
				support children's sexual development in the workplace, and they
				claimed that administration support might boost their
				willingness and comfort level in sexual education (Balter et
				al., 2016). Many ECEs believe that addressing sexuality issues
				in ECESs is unsatisfactory (Balter et al., 2018). One of the
				ECEs' challenges is the lack of training and materials support,
				with evidence that more than half of the ECEs never receive any
				related training (Balter et al., 2018). Answering children's
				questions about sex was seen by most ECEs as the most common
				form of sex education in ECESs (Balter et al., 2016). However,
				due to a lack of training, ECEs find it challenging to respond
				objectively to children's questions about sexually sensitive
				topics (Balter et al., 2016). In my experience, children often
				asked me to explain the meaning of gender. I prefer to disregard
				these questions due to the lack of education knowledge.
				Additionally, as a direct-entry student in the Early Childhood
				Studies program at Toronto Metropolitan University with a
				two-year Early Childhood Education certificate from George Brown
				College, I have never had any course specifically dealing with
				children's sexual development. Moreover, I have also never
				received any sexual education training from my workplace.
			</p>
			<p style="text-indent:50px;">
				Many ECEs are unsure about what kind of sexual education they
				need to provide their students due to the lack of an
				age-appropriate sexual curriculum. A standardized sexuality
				curriculum can help ECEs to adopt sexuality-related policies,
				supporting ECEs in helping children's sexual development (Balter
				et al., 2016). The absence of a sexual curriculum in ECESs
			</p>
			<h4 align="center"><strong>Sexual Education in
					Ontario’s ECESs 5</strong></h4>
			<p style="text-indent:50px;">
				could contribute to a lack of sex education training for ECEs
				(Balter et al., 2018). The missing curriculum direction could
				force ECEs to rely only on their subjective judgment to address
				the sexuality-related issues of children. For instance, many of
				my coworkers and I continue to subconsciously underline that
				skirts are for girls and that shorts are for boys. A
				standardized curriculum would benefit the children in the ECESs
				since it can have a clear sexual education goal for all ECEs.
			</p>
			<p style="text-indent:50px;">
				Meanwhile, many studies show that different families' diverse
				attitudes toward sexual education also challenge the ECEs in
				supporting children's sexual development (Astuti et al., 2017;
				Balter et al., 2016, 2018). Since families also play an
				important role in children's sexual education, the family
				environment can directly affect children's awareness of sex
				(Astuti et al., 2017). Many ECEs agree that a standardized
				sexuality curriculum can also consider involving children's
				families to work with the school. The study by Astuti et al.
				(2017) shows that many parents believe that sex education is
				taboo and families are not responsible for providing sex
				education for their children. In addition, families of different
				races have diverse ideas about sexuality, and many ECEs believe
				parents should be involved before discussing sexuality with
				children in the ECESs (Balter et al., 2016). In particular, the
				ECEs' reaction and attitude toward sexual education may conflict
				with family values (Balter et al., 2016). In my workplace, I
				once had a complaint from a family because I responded to a
				toddler's request to dress him in a pink dress for the drama
				play at pick-up time. The father felt I did not provide adequate
				gender guidance for his son. Therefore, a standardized sex
				curriculum would support the ECEs and the families to be on the
				same page in supporting children’s sexual development.
				Thirdly, the diversity of gender identity in current society is
				against the traditional heteronormativity concept; thus,
				children and ECEs need standardized sexual education and
			</p>
			<h4 align="center"><strong>Sexual Education in
					Ontario’s ECESs 6</strong></h4>
			<p style="text-indent:50px;">
				material to meet the need for gender diversity education.
				Heteronormativity has always been dominant in this society and
				directly influences family and educators' attitudes toward
				children's sexual education, which is also a challenge for all
				ECEs (Davies et al.,2021; Katz, 2013). Therefore, the childcare
				system's sexual curriculum should address children's general
				sexual problems and gender needs. As children can emerge with a
				sense of gender identity that opposes their biological sex in
				the early years, researchers have emphasized respecting
				children's gender awareness (Davies et al.,2021). The
				nineteenth-century definition of heterosexuality emphasized the
				dominance of men in gender relationships and the reproductive
				responsibilities of women (Katz, 2013). The heterosexuality
				concept also demonstrates heterosexual relationships as ideal
				and normative while rejecting and subordinating non-heterosexual
				relationships and sexualities (Katz, 2013). Traditional
				heterosexuality still dominates society and thus influences the
				attitudes of parents and educators (Davies et al.,2021). Some
				educators believe that gender education can go against the
				families’ and educators' heterosexual values, making it hard to
				support children's gender development (Davies et al.,2021). One
				of the most common examples is the gender teaching topic about
				2SLGBTQI+ concepts. I have observed that many Chinese families
				disagree with this discussion, arguing that introducing the
				2SLGBTQI+ concept too early can harm their child's sexual
				orientation. Therefore, the heterosexual values of the parents
				could be a barrier for educators to plan gender diversity
				education in ECESs.
			</p>
			<p style="text-indent:50px;">
				Given information about the talk regarding young children's
				sexual education in the ECESs, it is evident that standardized
				sexual education is necessary. The traditional gender binary
				notion in the ECESs ignores the gender variety of children and
				social settings (Davies et al., 2021). In my classroom, my
				colleagues and I frequently used the term “parents” to describe
				the family structure, emphasizing that the child's family
				comprised a male father and a female
			</p>
			<h4 align="center"><strong>Sexual Education in
					Ontario’s ECESs 7</strong></h4>
			<p style="text-indent:50px;">
				mother. The lack of a uniform sex education curriculum and
				educational resources in the ECESs can contribute to the issue
				of ignoring the diverse needs of gender identity. Generally
				speaking, the lack of gender diversity education among children
				and their families might create a lack of gender confidence and
				cause sexism. Both children and ECEs will benefit from a
				provincial curriculum integrating the gender and sexuality
				learning resources, and it can promote children's sexual
				development to fulfill the requirement of the diverse social
				context (Balter et al., 2016). With provincial support to
				produce a uniform curriculum on gender and sexuality for ECESs,
				ECEs would no longer be burdened with obtaining optional
				professional training during their undersupported professional
				development time (Davies et al., 2021). A standardized sex
				curriculum could help the ECESs to have a clear goal in planning
				the training for the ECEs.
			</p>
			<p style="text-indent:50px;">
				In conclusion, the lack of a sexual education curriculum in the
				ECESs cannot address the sexual development needs of children.
				Numerous studies demonstrate that children might develop sexual
				awareness at a young age if they are curious about observing and
				exploring their bodies (Balter et al., 2016). The lack of a
				consistent sexual curriculum and targeting makes it difficult
				for ECEs to promote sexual development (Balter et al., 2018).
				Also, the diversity of family attitudes about sex education can
				conflict with educators' educational values, making it difficult
				for ECEs to support children (Balter et al., 2016). Since many
				children are survivors of childhood sexual abuse, a lack of
				sexual awareness may be one of the key factors limiting
				children's self-care skills (Astuti et al., 2017; Davies et al.,
				2000). In addition, society is undergoing a gender revolution in
				which heterosexuality is no longer the sole option regarding
				gender interactions (Davies et al., 2021). The absence of a
				proper gender education curriculum prevents the kids from
				adapting to a gender-diverse social context and prevents the
				child from recognizing their gender identity.
			</p>
			<h4 align="center"><strong>Sexual Education in
					Ontario’s ECESs 8</strong></h4>
			<p style="text-indent:50px;">
				As this paper discusses how Ontario children in the ECESs could
				benefit from a standardized sexual education curriculum, the
				discussion reveals that the curriculum must involve both
				families and ECEs to address children's sexual development needs
				by teaching them knowledge of self, families, and relationships
				(Balter et al., 2016). The concept of self-awareness can address
				children's curiosity about the body and gender and enhance their
				understanding of abuse prevention (Balter et al., 2016, 2018).
				In addition, knowledge about families can help children
				recognize the diversity and reproduction of families (Balter et
				al., 2016). A consistent sexual education curriculum must also
				be combined with training for ECEs and families so that all
				families can collaborate with educators to assist children's
				sexual development, increasing children's sexual abuse
				awareness.
			</p>
			<h4 align="center"><strong>Sexual Education in
					Ontario’s ECESs 9</strong></h4>
			<p>
				Reference<br />
				<span>Astuti, B., Sugiyatno, S., &
					Aminah, S.
					(2017). The
					development of early childhood sex education materials for
					Early Childhood Education (ECE) teachers. <i>JPPM (Jurnal
						Pendidikan Dan Pemberdayaan Masyarakat)</i>, 4(2),
					113–120.
					https://doi.org/10.21831/jppm.v4i2.14869</span><br />
				<span>Balter, A.-S., van Rhijn, T. M., & Davies, A. W. J.
					(2016). The development of sexuality in childhood in early
					learning settings: An exploration of early childhood
					educators' perceptions. <i>The Canadian Journal of Human
						Sexuality</i>, 25(1), 30–40.
					https://doi.org/10.3138/cjhs.251-a3
				</span><br />
				<span>Balter, A.-S., van Rhijn, T., & Davies, A. W. J. (2018).
					Equipping early childhood educators to support the
					development of sexuality in childhood: Identification of
					pre- and post-service training needs. <i>The Canadian
						Journal
						of Human Sexuality</i>, 27(1), 33–42.
					https://doi.org/10.3138/cjhs.2017-0036
					Briggs, F. (2014). Child sexual abuse in early-childhood
					care and education settings. <i>Early Child Development and
						Care</i>, 184(9-10), 1415–1435.
					https://doi.org/10.1080/03004430.2014.901011
				</span><br />
				<span>Davies, A. W. J., Simone-Balter, A., & van Rhijn, T.
					(2021). Sexuality education and early childhood educators in
					Ontario, Canada: A foucauldian exploration of constraints
					and possibilities. <i>Contemporary Issues in Early
						Childhood</i>,
					146394912110607. https://doi.org/10.1177/14639491211060787
				</span><br />
				<span>Davies, S. L., Glaser, D., & Kossoff, R. (2000).
					Children’s sexual play and behavior in pre-school settings:
					Staff’s perceptions, reports, and Responses. <i>Child Abuse
						&
						Neglect</i>, 24(10), 1329–1343.
					https://doi.org/10.1016/s0145-2134(00)00184-8 </span><br />
			</p>
			<h4 align="center"><strong>Sexual Education in
					Ontario’s ECESs 10</strong></h4>
			<p>
				Reference<br />
				<span>Katz, J. (2013). The Invention of Heterosexuality. In M.
					L. Andersen & P. H. Collins (Eds.), <i>Race, Class, and
						Gender:
						An Anthology</i> (8th ed., pp. 231–242). Wadsworth Pub.
					Co
				</span><br />
				<span>Ontario. (2019). <i>Elementary learning: Human development
						and sexual health</i>. Retrieved November 12, 2022, from
					https://www.hwdsb.on.ca/blog/elementary-learning-human-development-sexual-health/
				</span><br />
				<span>Ontario Ministry of Education. (2014).<i>Excerpts from
						ELECT: Foundational knowledge from the 2007 publication
						of
						"Early learning for every child today: A framework for
						Ontario early childhood settings"</i>.Toronto: Author.
					Robinson, D. B., MacLaughlin, V., & Poole, J. (2019). Sexual
					health education outcomes within Canada’s Elementary Health
					Education Curricula: A summary and analysis. <i>The Canadian
						Journal of Human Sexuality</i>, 28(3), 243–256.
					https://doi.org/10.3138/cjhs.2018-0036
				</span><br />
			</p>
		</div>
	</div>
</section>