<!--
 * @Author: BDFD
 * @Date: 2021-10-20 11:53:51
 * @LastEditTime: 2022-03-24 14:31:00
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\05AcademicCouseWork\01SignificantAssignment.ejs
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<h2 class="title-lg text-upper">Significant Assignment</h2>
			<h4 align="center"><strong>Assignment 1: Recommend Books for Young Children</strong></h4>
			<div align="center">
				<img src="images/ProjectPhoto/assignment-1-1.png" alt="">
			</div>
			<div align="center">
				<img src="images/ProjectPhoto/assignment-1-2.png" alt="">
			</div>
			<p style="text-indent:50px;">
				Diverse children's literature is commonly regarded as writings that explore themes about ethnicity,
				race, culture, and language. Using diverse children's literature can support groups that have been
				exposed to systemic bias, because those books not only recognize different national’s identities, but
				also assist different groups of children in making a smooth transition from their home to school.
			</p>
			<p style="text-indent:50px;">
				I have shared eight children’s books for the Indigenous family in this assignment. The Indigenous people
				face many inequalities in this society, and health inequality is the majority of the inequality they
				suffer from. This assignment aims to support the health development of Indigenous children by using a
				variety of Indigenous children’s books.
			</p>
			<br>
			<h4 align="center"><strong>Assignment 2: The Home Instruction for Parents of Preschool Youngsters </strong>
			</h4>
			<p><strong>(HIPPY) Program Review</strong></p>
			<div align="center">
				<img src="images/ProjectPhoto/assignment-2-1.png" alt="">
			</div>
			<br>
			<p style="text-indent:50px;">
				One of ECE's job responsibilities is to provide different resources based on the needs of each family.
				The ECE needs to have the ability to search for resources in order to provide better support to
				families. Through this assignment, I have learned how to find different programs to improve the
				parenting skills of families.
			</p>
			<p style="text-indent:50px;">
				Many immigrant families live in poverty and face challenges in childcare, and their diverse life
				experiences can be a barrier for them to achieve their high expectations of their children's education.
				The Home Instruction for Parents of Preschool Youngsters program can support new immigrant mothers to
				work as the first teacher in helping children to get ready for school at the preschool age.
			</p>
			<h4 align="center"><strong>Assignment 3: Home School Literacy Newsletter</strong></h4>
			<div align="center">
				<img src="images/ProjectPhoto/assignment-3-1.png" alt="">
			</div>
			<div align="center">
				<img src="images/ProjectPhoto/assignment-3-2.png" alt="">
			</div>
			<div align="center">
				<img src="images/ProjectPhoto/assignment-3-3.png" alt="">
			</div>
			<div align="center">
				<img src="images/ProjectPhoto/assignment-3-4.png" alt="">
			</div>
			<p style="text-indent:50px;">
				Language is an essential skill that a child can develop at home and school in a language-rich
				environment. Having a variety of language programs available at the start of the school year can assist
				students and their families make a smooth transition from kindergarten to Grade 1. I have learned how to
				plan diverse home school programs to support children’s literacy development.
			</p>
		</div>
	</div>
</section>