<!--
 * @Author: BDFD
 * @Date: 2021-10-20 11:53:51
 * @LastEditTime: 2022-03-24 14:51:16
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\05AcademicCouseWork\02AnnotatedBibliography.ejs
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<h2 class="title-lg text-upper">Annotated Bibliography</h2>
			<p style="font-family: Times New Roman">
				<i>Fostering Literacy Success for First Nations</i>
				, Métis and Inuit Students.Toulouse, P. (2013).
				<i>Fostering literacy success for First Nations</i>
				, Métis and.Inuit students. What Works.
				Research into Practice, 45.
			</p>
			<p style="text-indent:50px;">
				This article discusses about the importance of embracing a bilingual approach for Indigenous children in
				the school teaching environment. The author shares many teaching strategies in supporting the language
				development of Indigenous students. This article helps me learn how to create a culturally appropriate
				learning environment for Indigenous children. I can use it as guidance for my future career as an ECE.
			</p>
			<p style="font-family: Times New Roman">
				<i>Funds of Knowledge for Teaching: Using a Qualitative Approach to Connect Homes and Classrooms.</i>
				Moll, L. C., Amanti, C., Neff, D., & Gonzalez, N. (1992).<br>
				<i>Funds of knowledge for. teaching: Using a qualitative approach to connect homes and classrooms.</i>
				Theory into Practice, 31(2), 132-141.
				<br><a href="https://doi.org/10.1080/00405849209543534"
					target="blank">https://doi.org/10.1080/00405849209543534</a>
			</p>
			<p style="text-indent:50px;">
				This article discusses how the family’s funds of knowledge can support children’s development. The study
				from this article indicates that considering the funds of knowledge into the teaching curriculum can
				reduce the insularity of classrooms, and contribute to the academic content and lessons. This article
				has taught me that I can create an inclusive learning environment by bringing family funds of knowledge
				into the curriculum plan.
			</p>
			<p style="font-family: Times New Roman">
				<i>Towards creating inclusive environments for LGBTIQparented families in early childhood education and
					care settings: A review of the literature.</i>
				Liang, X. M., & Cohrssen, C. (2020).
				<br>
				<i>
					Towards creating inclusive environments for. LGBTIQ- parented
					families in early childhood education and care settings: A review of the literature.
				</i>
				Australasian
				Journal of Early Childhood, 45(1), 43-55.
				<br><a href="https://doi.org/10.1177/1836939119885304"
					target="blank">https://doi.org/10.1177/1836939119885304</a>
			</p>
			<p style="text-indent:50px;">
				This article discusses about how to support the LGBTIQ family in the school environment. The author
				identifies the key influences on the lived experiences of LGBTIQ parents and their children in the
				context of early learning centres. This article helps me learn how to create an inclusive learning
				environment for LGBTIQ families. I can use this as guidance to support LGBTQ families.
			</p>
		</div>
	</div>
</section>