<!--
 * @Author: BDFD
 * @Date: 2021-10-10 13:47:41
 * @LastEditTime: 2021-11-02 22:08:08
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \Project1.1_David-Online-Portfolio\views\PageEdit\A204_SkillListPage_CertificateSection.ejs
-->
<section class="section">
	<h2 class="title-thin text-muted">Feature Certificate List</h2>
	<p>
		Currently have <br />
		<i class="fas fa-trophy"></i> 5 Specilizations<br />
		<i class="fas fa-trophy"></i> 35 courses, more on update<br />
		<a href="http://github.com/bdfd/5.0_Certificate-Folder" target="_blank"
			>View Full Certificate Folder</a
		>
	</p>
	<br />

	<div class="row">
		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img
						src="images\My Exp\Specialization-IBM Data Analysis and Visualization Foundations.jpg"
						alt="Certifiate 1"
					/>
				</figure>

				<h3 class="award-title">
					IBM Data Analysis & Visualization<sup style="background-color: lightblue"
						>Oct, 2021</sup
					>
				</h3>

				<div class="award-text clear-mrg">
					<p>
						3 Course with ~ 32 hrs
						<a
							href="https://github.com/bdfd/5.0_Certificate-Folder/blob/main/1.0-Data%20Analytics/Specialization-Data%20Analysis%20and%20Visualization%20Foundations/Specialization-Data%20Analysis%20and%20Visualization%20Foundations.pdf"
							target="_blank"
							>VIEW</a
						>
					</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->

		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img
						src="images\My Exp\Specialization-Fundamentals of Visualization with Tableau.jpg"
						alt="Certifiate 2"
					/>
				</figure>

				<h3 class="award-title">
					Data Viz with Tableau Specialization<sup
						style="background-color: lightblue"
						>Apr, 2021</sup
					>
				</h3>

				<div class="award-text clear-mrg">
					<p>
						5 Course with ~ 72 hrs
						<a
							href="https://github.com/bdfd/5.0_Certificate-Folder/blob/main/4.0-Visualization/Specialization-Fundamentals%20of%20Visualization%20with%20Tableau/Specialization-Fundamentals%20of%20Visualization%20with%20Tableau.pdf"
							target="_blank"
							>VIEW</a
						>
					</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->

		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img
						src="images\My Exp\Specialization-IBM Data Analysis and Visualization Foundations.jpg"
						alt="Certifiate 1"
					/>
				</figure>

				<h3 class="award-title">
					IBM Data Analysis & Visualization<sup style="background-color: lightblue"
						>Oct, 2021</sup
					>
				</h3>

				<div class="award-text clear-mrg">
					<p>
						3 Course with ~ 32 hrs
						<a
							href="https://github.com/bdfd/5.0_Certificate-Folder/blob/main/1.0-Data%20Analytics/Specialization-Data%20Analysis%20and%20Visualization%20Foundations/Specialization-Data%20Analysis%20and%20Visualization%20Foundations.pdf"
							target="_blank"
							>VIEW</a
						>
					</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->

		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img
						src="images\My Exp\Specialization-Fundamentals of Visualization with Tableau.jpg"
						alt="Certifiate 2"
					/>
				</figure>

				<h3 class="award-title">
					Business Analytics<sup style="background-color: lightblue">May, 2021</sup>
				</h3>

				<div class="award-text clear-mrg">
					<p>
						5 Course with ~ 72 hrs
						<a
							href="https://github.com/bdfd/5.0_Certificate-Folder/blob/main/4.0-Visualization/Specialization-Fundamentals%20of%20Visualization%20with%20Tableau/Specialization-Fundamentals%20of%20Visualization%20with%20Tableau.pdf"
							target="_blank"
							>VIEW</a
						>
					</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->

		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img
						src="images\My Exp\Specialization-IBM Data Analysis and Visualization Foundations.jpg"
						alt="Certifiate 3"
					/>
				</figure>

				<h3 class="award-title">
					Data Viz with Tableau Specialization<sup
						style="background-color: lightblue"
						>Apr, 2021</sup
					>
				</h3>

				<div class="award-text clear-mrg">
					<p>
						5 Course with ~ 72 hrs
						<a
							href="https://github.com/bdfd/5.0_Certificate-Folder/blob/main/1.0-Data%20Analytics/Specialization-Data%20Analysis%20and%20Visualization%20Foundations/Specialization-Data%20Analysis%20and%20Visualization%20Foundations.pdf"
							target="_blank"
							>VIEW</a
						>
					</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->

		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img
						src="images\My Exp\Specialization-Fundamentals of Visualization with Tableau.jpg"
						alt="Certifiate 2"
					/>
				</figure>

				<h3 class="award-title">
					Data Science with Math Skill<sup style="background-color: lightblue"
						>Apr, 2021</sup
					>
				</h3>

				<div class="award-text clear-mrg">
					<p>
						~ 13 hrs
						<a
							href="https://github.com/bdfd/5.0_Certificate-Folder/blob/main/4.0-Visualization/Specialization-Fundamentals%20of%20Visualization%20with%20Tableau/Specialization-Fundamentals%20of%20Visualization%20with%20Tableau.pdf"
							target="_blank"
							>VIEW</a
						>
					</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->
	</div>
	<!-- .row -->
</section>
