<section class="section clear-mrg">
	<h2 class="title-lg text-upper">Working History</h2>
	<div class="padd-box-sm clear-mrg">
		<div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img
					alt="Company Logo"
					src="images/My Exp/DMG.jpg"
					class="avatar avatar-54 photo"
					height="54"
					width="54"
				/>
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Senior Data Analyst</strong>
					<strong>Business Intelligence Developer</strong>
					<span>Diligent Management Group</span>
					<span>01,2019 - Present</span>
				</div>
				<blockquote class="ref-cont clear-mrg">
					<p>
						<i class="fab fa-gg"></i> Reported to Manager and Senior Team Lead,
						analyzed internal business needs and implemented solution to support
						technologies and business initiatives <br />
						<i class="fab fa-gg"></i> Hosted client meetings and documented the
						<strong>BRD and FRD</strong>. Performed gap analysis, created a process
						flow for the business needs, based on project manager approval process
						flow for task <br />
						<i class="fab fa-gg"></i> Analyzed business requirements, propose, design,
						develop and implement <strong>Power BI</strong> and Tableau automated
						dashboard solutions to satisfy requirements <br />
						<i class="fab fa-gg"></i> Developed deep data knowledge by combining data
						from various source, analyzed heterogeneous data sets to come up with
						<strong>Business Metrics and KPIs</strong> and inform the business as
						needed dive deep into key metrics based on requests
						<br />
						<i class="fab fa-gg"></i> Wrote <strong>SQL</strong> query to complete
						data engineering and constructing analytical tables from center data
						warehouse in preparation of model building <br />
						<i class="fab fa-gg"></i> Based on the insights extracted from Persona
						analysis, built cross-selling tactics to customize sales decisions,
						providing a view for the business on opportunities and profitability
						<br />
						<i class="fab fa-gg"></i> Created ad-hoc queries and reports as needed
						along with providing on-going analytical support for requests <br />
						<i class="fab fa-gg"></i>
						Worked effectively with cross function team includes sales team, data
						analyst, data scientist, data engineers and stakeholders to ensure that
						all approved development and deployment procedures are followed
					</p>
					<!-- <p><i class="fas fa-trophy"></i> 123</p> -->
				</blockquote>
			</div>
		</div>
		<!-- .exp-box-1 -->
		<div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img
					alt="Company Logo"
					src="images/My Exp/GGW.jpg"
					class="avatar avatar-54 photo"
					height="54"
					width="54"
				/>
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Database Administrator</strong>
					<strong>Business System Analyst</strong>
					<span>Great Green World Inc</span>
					<span>02,2016 - 08,2018</span>
				</div>
				<blockquote class="ref-cont clear-mrg">
					<p>
						<i class="fab fa-gg"></i> Supported customer developed reports, revised
						existing reports, developed and distributed data<br />
						<i class="fab fa-gg"></i> Audited with production/inventory department on
						monthly/weekly basis for validating & researching data fluctuations<br />
						<i class="fab fa-gg"></i> Analyzed internal and external database,
						specifying marketing landscape and opportunities<br />
						<i class="fab fa-gg"></i> Built
						<strong>ad-hoc, dashboard (Power BI) reports</strong> to support the sale
						team in answering questions for internal business reviews as well as in
						external meetings with the customers<br />
						<i class="fab fa-gg"></i> Partnered with stakeholders and senior
						management to drive SAP objectives<br />
						<i class="fab fa-gg"></i> Trained and developed
						<strong>SAP(ERP)</strong> project teams and provided consistent
						guidance<br />
						<i class="fab fa-gg"></i> Worked with Customer Success Managers to develop
						business reviews leveraging insights from analytics, benchmarks, and best
						practice
					</p>
					<!-- <p><i class="fas fa-trophy"></i> 123
                    </p> -->
				</blockquote>
			</div>
		</div>
		<!-- .exp-box-2 -->
		<!-- <div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img
					alt="Company Logo"
					src="images/My Exp/FreeLancerLogo.jpg"
					class="avatar avatar-54 photo"
					height="54"
					width="54"
				/>
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Full Stack Developer</strong>
					<strong>Devops /Cloud Engineering</strong>
					<span>Self Employed • Freelancer</span>
					<span>Jan,2016 - Present</span>
				</div>
				<blockquote class="ref-cont clear-mrg">
					<p><i class="fab fa-gg"></i> Application Depoly Platform：GCP(3 years), AWS(1 year +), Heroku
                    </p>
                    <p><i class="fas fa-trophy"></i> 123
                    </p>
				</blockquote>
			</div>
		</div> -->
		<!-- .exp-box-3 -->
		<!-- <div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img
					alt="Company Logo"
					src="images/My Exp/FreeLancerLogo.jpg"
					class="avatar avatar-54 photo"
					height="54"
					width="54"
				/>
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Full Stack Developer</strong>
					<strong>Devops /Cloud Engineering</strong>
					<span>Self Employed • Freelancer</span>
					<span>Jan,2016 - Present</span>
				</div>
				<blockquote class="ref-cont clear-mrg">
					<p><i class="fab fa-gg"></i> Application Depoly Platform：GCP(3 years), AWS(1 year +), Heroku
                    </p>
                    <p><i class="fas fa-trophy"></i> 123
                    </p>
				</blockquote>
			</div>
		</div> -->
		<!-- .exp-box-4 -->
	</div>
	<!-- .padd-box-sm -->
</section>
