<!--
 * @Author: your name
 * @Date: 2021-10-10 13:47:42
 * @LastEditTime: 2021-11-02 23:06:01
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \Project1.1_David-Online-Portfolio\views\PageEdit\A302_WorkExpPage_EducationHistorySection.ejs
-->
<section class="section clear-mrg">
    <h2 class="title-lg text-upper">Education Hisotry</h2>
    <div class="padd-box-sm clear-mrg">
        <div class="ref-box brd-btm hreview">
            <div class="ref-avatar">
                <img alt="University UofT Logo" src="images/My Exp/UofT.png"
                    class="avatar avatar-54 photo" height="54" width="54" />
            </div>
            <div class="ref-info">
                <div class="ref-author">
                    <strong>UNIVERSITY OF TORONTO (Downtown Campus)</strong>
                    <p>Bachelor’s Degree of Engineering and Applied Science<br>
                        Minor: Economics and Finance</p>
                    <span>Sep,2009 - June,2015</span>
                </div>
                <!-- <blockquote class="ref-cont clear-mrg">
                    <p><i class="fas fa-trophy"></i> School Band : Sep 2008 - June 2009
                    </p>
                    <p><i class="fas fa-trophy"></i> Math Club : Sep, 2007 - June 2009
                    </p>
                    <p><i class="fas fa-trophy"></i> Swimming Team : March 2006 - June 2009</p>
                    </p>
                </blockquote> -->
            </div>
        </div>
        <!-- .exp-box-1 -->
        <div class="ref-box brd-btm hreview">
            <div class="ref-avatar">
                <img alt="University UofT Logo" src="images/My Exp/ACCI.jpg"
                    class="avatar avatar-54 photo" height="54" width="54" />
            </div>
            <div class="ref-info">
                <div class="ref-author">
                    <strong>Albert Campbell Collegiate Institute</strong>
                    <p>High School</p>
                    <span>2005 - 2009</span>
                </div>
                <blockquote class="ref-cont clear-mrg">
                    <p><i class="fas fa-trophy"></i> School Band : 2008 - 2009
                    </p>
                    <p><i class="fas fa-trophy"></i> Math Club : 2007 - 2009
                    </p>
                    <p><i class="fas fa-trophy"></i> Swimming Team : 2006 - 2009</p>
                    </p>
                </blockquote>
            </div>
        </div>
        <!-- .exp-box-2 -->
    </div>
    <!-- .padd-box-sm -->
</section>