<article class="post hentry">
	<div class="post-media" align="center">
		<a href="/project/01_hotprogrammingin2020" rel="bookmark">
			<figure class="post-figure">
				<img src="images/Project/2020LearningTree.jpg" alt="2020LearningTree" />
			</figure>
		</a>
	</div>

	<div class="padd-box-sm">
		<header class="post-header text-center">
			<h2 class="post-title entry-title text-upper">
				<a rel="bookmark" href="/project/01_hotprogrammingin2020"
					>Blog01 : 2020 Programmer Starter Kit</a
				>
			</h2>

			<div class="post-header-info">
				<span class="posted-on"
					><span class="screen-reader-text">Posted on </span>
					<time class="post-date published" datetime="2020-12-08T11:33:08+00:00"
						>Dec 8 2020</time
					>
				</span>
				&nbsp;<span class="post-author vcard">by David Chen</span>
			</div>
		</header>

		<div class="post-content entry-content editor clearfix clear-mrg">
			<p>
				Diagram Introduce for necessary tools. If you new to this field or
				interested in learn to build a personal website. Just take few minutes to
				look over on this blog to know more about necessary tool to begin with.
			</p>
		</div>

		<footer class="post-footer">
			<div class="post-footer-top brd-btm clearfix">
				<div class="post-footer-info">
					<span class="post-cat-links"
						><span class="screen-reader-text">Categories</span
						>Overall&nbsp;|&nbsp;Learning Path
					</span>
				</div>

				<div class="post-more">
					<a
						class="btn btn-sm btn-primary"
						href="/project/01_hotprogrammingin2020"
						rel="bookmark"
						>Read More</a
					>
				</div>
			</div>
		</footer>
	</div>
</article>
