<article class="post hentry">
	<div class="post-media">
		<!-- <div class="post-slider slider">
			<div>
				<a href="single-slider.html" rel="bookmark">
					<div
						class="tableauPlaceholder"
						id="viz1634745696223"
						style="position: relative"
					>
						<noscript
							><a href="#"
								><img
									alt="Dashboard-KPIAnalysis "
									src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;Netflix_16146416629320&#47;Dashboard-KPIAnalysis&#47;1_rss.png"
									style="border: none" /></a></noscript
						><object class="tableauViz" style="display: none">
							<param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
							<param name="embed_code_version" value="3" />
							<param name="site_root" value="" />
							<param
								name="name"
								value="Netflix_16146416629320&#47;Dashboard-KPIAnalysis"
							/>
							<param name="tabs" value="no" />
							<param name="toolbar" value="no" />
							<param
								name="static_image"
								value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;Netflix_16146416629320&#47;Dashboard-KPIAnalysis&#47;1.png"
							/>
							<param name="animate_transition" value="yes" />
							<param name="display_static_image" value="yes" />
							<param name="display_spinner" value="yes" />
							<param name="display_overlay" value="yes" />
							<param name="display_count" value="yes" />
							<param name="language" value="en-US" />
						</object>
					</div>
					<script type="text/javascript">
						var divElement = document.getElementById('viz1634745696223');
						var vizElement = divElement.getElementsByTagName('object')[0];
						if (divElement.offsetWidth > 800) {
							vizElement.style.width = '100%';
							vizElement.style.height = divElement.offsetWidth * 0.75 + 'px';
						} else if (divElement.offsetWidth > 500) {
							vizElement.style.width = '100%';
							vizElement.style.height = divElement.offsetWidth * 0.75 + 'px';
						} else {
							vizElement.style.width = '100%';
							vizElement.style.height = '2000px';
						}
						var scriptElement = document.createElement('script');
						scriptElement.src =
							'https://public.tableau.com/javascripts/api/viz_v1.js';
						vizElement.parentNode.insertBefore(scriptElement, vizElement);
					</script>
				</a>
			</div>
			<div>
				<a href="single-slider.html" rel="bookmark">
					<img src="images/My Logo/user_signature.gif" alt="" />
				</a>
			</div>
			<div>
				<a href="single-slider.html" rel="bookmark">
					<img src="images/My Logo/user_signature.gif" alt="" />
				</a>
			</div>
		</div> -->
	</div>

	<div class="padd-box-sm">
		<header class="post-header text-center">
			<h2 class="post-title entry-title text-upper">
				<a rel="bookmark" href="/project/02_House_Model_Prediction"
					>House Model Prediction</a
				>
			</h2>

			<div class="post-header-info">
				<span class="posted-on"
					><span class="screen-reader-text">Posted on </span>
					<time class="post-date published" datetime="2016-07-04T11:33:08+00:00"
						>01 Oct 2021</time
					>
					<time class="post-date updated" datetime="2016-12-08T14:45:55+00:00"
						>10 Oct 2021</time
					>
				</span>
				&nbsp;<span class="post-author vcard">by David Chen</span>
			</div>
		</header>

		<div class="post-content entry-content editor clearfix clear-mrg">
			<p>
				The housing prices near Toronto Area are rapidly increasing over the last
				decade. The goal of this project is to study the factor driven Toronto House
				Price by taking a broad macroeconomic view. Identify the top factors which
				are related to dramatic increases in House Price with public data sources.
			</p>
		</div>

		<footer class="post-footer">
			<div class="post-footer-top brd-btm clearfix">
				<div class="post-footer-info">
					<span class="post-cat-links"
						><span class="screen-reader-text">Categories</span
						>Team&nbsp;|&nbsp;Project Portfolio
					</span>
				</div>

				<div class="post-more">
					<a
						class="btn btn-sm btn-primary"
						href="/project/02_House_Model_Prediction"
						rel="bookmark"
						>Read More</a
					>
				</div>
			</div>
		</footer>
	</div>
</article>
<!-- .post -->
