<!--
 * @Author: BDFD
 * @Date: 2021-10-20 11:53:51
 * @LastEditTime: 2022-03-24 13:44:23
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\04ActivityPlan\01RyersonECSPlacementPlan.ejs
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<h2 class="title-lg text-upper">Toronto Metropolitan University Learning Plan</h2>
			<h4 align="center"><strong>Bubble Art</strong></h4>
			<p style="text-indent:50px;">
				This activity is planned to take place outdoors on the playground, the children will be provided with
				four sensory tables filled with bubble solution and food colouring. Each bin will be filled with a
				different colour. We will provide the children with bubble wands and straws to manipulate the bubble
				solution. Children will first be introduced to some colour art from different cultural groups’ artists,
				and then be encouraged to create their own artwork with soapy water. The children can then blow the
				bubbles onto the large banner paper using the tools or their hands to create art and markings on the
				paper.
			</p>
			<div align="center">
				<img src="images/ProjectPhoto/act-1-1.jpg" alt="">
			</div>
			<br>
			<h4 align="center"><strong>My Community Member Collage</strong></h4>
			<p style="text-indent:50px;">
				This activity encourages children to practice letter writing through community member art activity. The
				teacher will share a book about the community members with children and encourage children to talk about
				their familiar community. After that, children will be encouraged to draw different community members on
				the paper and make their own community collage. In the end, children will learn to label each community
				member’s name by coping from the attendance.
			</p>
			<div align="center">
				<img src="images/ProjectPhoto/act-1-2.jpg" alt="">
			</div>
			<h4 align="center"><strong>Animal Dance</strong></h4>
			<p style="text-indent:50px;">
				This activity helps children develop their dancing skills with diverse music. This activity teaches
				children about the animals through a storybook and dancing. Children will first listen to an Indigenous
				story about the animals in this activity. Then children dance with the different animal action songs.
				One of the songs will be an Indigenous animal’s song. Children will need to follow the music to make a
				different animal movement. Children will be encouraged to dance in the group with a peer. During the
				dancing time, children will also have the opportunity to choose one of their favourite multicultural
				musical instruments to dance with.
			</p>
			<div align="center">
				<img src="images/ProjectPhoto/act-1-3.jpg" alt="">
			</div>
			<h4 align="center"><strong>Colour Sorting</strong></h4>
			<p style="text-indent:50px;">
				This activity helps children to learn colour through the children book and playing activity. At the
				beginning of this activity, the educator will share a picture book about diversity with the children and
				also set up some other children's books about the colours of the playing area. After reading the book,
				the educator will teach children different colours with the word’s cards. Then the educator will set up
				the table with different colour containers, and each container will be labelled in English and
				Indigenous language. Children will be offered different-colored Legos, pompons, and small sorting bears.
				The educator will clarify the colour sorting activity’s game rule, and encourage children to sort
				different toys by colour.
			</p>
			<div align="center">
				<img src="images/ProjectPhoto/act-1-4.jpg" alt="">
			</div>
		</div>
	</div>
</section>