<!--
 * @Author: BDFD
 * @Date: 2021-10-20 11:53:51
 * @LastEditTime: 2022-03-24 13:46:28
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\04ActivityPlan\02WorkingPlacePlayBasedLearningPlan_Kingdergarden.ejs
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<!-- <h2 align="center" class="title-lg text-upper">Welcome to My Teaching Portfolio</h2> -->
			<h2 class="title-lg text-upper">Working Place Play Based Learning Plan For Kingdergarden</h2>
			<h4 align="center"><strong>Vegetable Self-portrait</strong></h4>
			<p style="text-indent:50px;">
				This activity can help children to learn how to draw different vegetables, and children also can learn
				how to create a self-portrait using different vegetables. At the beginning of the activity, the teacher
				read a children's book about vegetables and though children how to draw different kinds of vegetables.
				After the story, the teacher encouraged children to draw a self-portrait with water paints in the art
				area. At the end of the activity, the children also shared their artwork in the group.
			</p>
			<div align="center">
				<img src="images/ProjectPhoto/act-2-1.jpg" alt="">
			</div>
			<br>
			<h4 align="center"><strong>Baking activity</strong></h4>
			<p style="text-indent:50px;">
				This activity can help children to explore the joy of baking by learning to use different baking tools.
				At the beginning of the activity, the teacher shared a baking video and summarized the baking strategies
				with the children. After the video, the teacher showed the children all the ingredients and baking
				tools. After that, the teacher encouraged all the children to follow the instructions to make their own
				bread. The teacher also sent the bread to the family at the pickup time.
			</p>
			<div align="center">
				<img src="images/ProjectPhoto/act-2-2.jpg" alt="">
			</div>
		</div>
	</div>
</section>