<!--
 * @Author: BDFD
 * @Date: 2021-10-20 11:53:51
 * @LastEditTime: 2022-03-24 13:49:49
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\04ActivityPlan\03WorkingPlacePlayBasedLearningPlan_Preschool.ejs
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<!-- <h2 align="center" class="title-lg text-upper">Welcome to My Teaching Portfolio</h2> -->
			<h2 class="title-lg text-upper">Working Place Play Based Learning Plan For Preschool</h2>
			<h4 align="center"><strong>Outdoor painting</strong></h4>
			<p style="text-indent:50px;">
				◦ This activity can help children express their spring observations through the artwork. At the
				beginning of the activity, the teacher shared the storybook about the spring. The teacher also invited
				children to make some observations of the outdoor environment. After that, the teacher encouraged
				children to draw a picture about the spring by using all the outdoor art materials. At the end of the
				activity, the teacher displayed children’s artwork in the classroom.
			</p>
			<div align="center">
				<img src="images/ProjectPhoto/act-3-1.jpg" alt="">
			</div>
			<br>
			<h4 align="center"><strong>Blowing bubbles</strong></h4>
			<p style="text-indent:50px;">
				This activity can help children to develop their sensory skills by playing with soapy water. Children
				were encouraged to explore the soapy water during the free playtime. The children first made the soapy
				water under the teacher’s help. After that, the children learned to use the straw to blow the bubble in
				the group.
			</p>
			<div align="center">
				<img src="images/ProjectPhoto/act-3-2.jpg" alt="">
			</div>
		</div>
	</div>
</section>