<!--
 * @Date         : 2022-12-04 01:03:21
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2022-12-04 01:09:01
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\PageEdit\04ActivityPlan\04MetropolitanECSPlacementPlan.ejs
 * Copyright (c) 2022 by BDFD, All Rights Reserved. 
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<h2 class="title-lg text-upper">Toronto Metropolitan University
				Learning Plan</h2>
			<h4 align="center"><strong>Autumn Nature Color Activty </strong>
			</h4>
			<p style="text-indent:50px;">
				It’s a nature-based activity that takes place in an outdoor
				area. The children can explore the color of varieties of natural
				materials. We encourage children to do the nature hunt to find
				some Fall natural materials and explore the color of each
				material. We also encourage children to draw all the natural
				materials on their worksheets and color them with a different
				color. In the end, children can use the color poster as a
				reference to practise writing by printing the color words for
				each item. At the end of the activity, children will gather
				together to share their nature discovery, and we will work
				together to make a list of the Autumn color.
			</p>
			<div align="center">
				<img src="images/ProjectPhoto/metropolitan_learning_pic01.jpg"
					alt="">
			</div>
			<div align="center">
				<img src="images/ProjectPhoto/metropolitan_learning_pic02.jpg"
					alt="">
			</div>
			<br>
			<h4 align="center"><strong>Orange Shirt Day</strong></h4>
			<p style="text-indent:50px;">
				This is an Orange shirt day activity with the goal of teaching
				children empathy by learning the Indigenous Residential School's
				history. We share the story of the Stone words and encourage
				children to think about how would they feel if they were forced
				to separate from their families and forget their home language.
				To support children in better expressing their felling, we also
				share the emotional chart with the children to review all the
				feeling words. In the end, we invite children to color the
				orange shirt worksheet and write down their feelings for the
				Indigenous children on the worksheet.
			</p>
			<div align="center">
				<img src="images/ProjectPhoto/metropolitan_learning_pic03.jpg"
					alt="">
			</div>
		</div>
	</div>
</section>