<!--
 * @Author: BDFD
 * @Date: 2022-02-11 13:18:12
 * @LastEditTime: 2022-02-11 13:36:42
 * @LastEditors: BDFD
 * @Description: 
 * @Description: 
 * @FilePath: \Heroku_Python_Template\templates\function\upload_success.html
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>

<body>
    <p>File uploaded successfully!</p>
    <p>File Name: <b> {{name}} </b></p>

    <a href="/upload">Back to Upload Page</a>
    <a href="/">Back to Index/Home</a>

</body>

</html>