<!--
 * @Date         : 2022-12-03 22:19:07
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2022-12-03 22:36:59
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\PageEdit\01HomePage\01Summary.ejs
 * Copyright (c) 2022 by BDFD, All Rights Reserved. 
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<!-- <h2 align="center" class="title-lg text-upper">Welcome to My Teaching Portfolio</h2> -->
			<h2 align="center" class="title-lg">Welcome to My Teaching Portfolio
			</h2>
			<p>
				Hello! My name is Xin Lin, and I am a Registered Early Childhood
				Educator. I am currently studying Early Childhood Studies at
				Toronto Metropolitan University (formerly Ryerson), and I will
				be guarded in the April of 2023.
			</p>
			<p class="text-right">
				<img width="30%" height="30%"
					src="images/My Logo/user_signature.jpg"
					alt="Xin Lin Signature" /><br />
				2022.03
			</p>
		</div>
	</div>
</section>