<!--
 * @Author: BDFD
 * @Date: 2021-10-20 11:53:51
 * @LastEditTime: 2022-03-23 16:38:11
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\01HomePage\01Summary.ejs
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<!-- <h2 align="center" class="title-lg text-upper">Welcome to My Teaching Portfolio</h2> -->
			<h2 align="center" class="title-lg">Welcome to My Teaching Portfolio</h2>
			<p>
				Hello! My name is Xin Lin, and I am a Registered Early Childhood Educator. I am currently studying Early
				Childhood Studies at Ryerson University, and I am 3<sup>rd</sup> year direct entry student. Welcome to
				my teaching
				portfolio.
			</p>
			<p class="text-right">
				<img width="30%" height="30%" src="images/My Logo/user_signature.jpg" alt="Xin Lin Signature" /><br />
				2022.03
			</p>
		</div>
	</div>
</section>