<!--
 * @Author: BDFD
 * @Date: 2021-10-20 11:53:51
 * @LastEditTime: 2021-11-02 20:09:27
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \Project1.1_David-Online-Portfolio\views\PageEdit\A101_HomePage_SummarySection.ejs
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<h2 class="title-lg text-upper">Summary</h2>
			<b>Hello, World. This is welcome message from David Chen!</b>
			<p>
				A passionate and results-oriented person with strong background in
				Mathematics and Statistics analytics, along with strong experiences in
				strategic alignment, business transformation, and opearation excellence.
				Capable of tackling challenge tasks, delivering measureable results, and
				constantly looking on turn data into meaningful and actionable insights and
				looking forward to the next challenge role.
			</p>
			<p class="text-right">
				<img
					width="30%"
					height="30%"
					src="images/My Logo/user_signature.jpg"
					alt="David Chen Signature"
				/><br />
				2021.08
			</p>
		</div>
	</div>
</section>
