<!--
 * @Author: BDFD
 * @Date: 2022-03-23 13:45:20
 * @LastEditTime: 2022-04-08 19:09:23
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\01HomePage\02PersonalInfo.ejs
-->
<section class="section brd-btm">
  <div class="row">
    <div class="col-sm-6 clear-mrg">
      <h2 class="title-thin text-muted">Personal Info.</h2>

      <dl class="dl-horizontal clear-mrg">
        <dt class="text-upper">Full Name</dt>
        <dd>Xin Lin</dd>

        <dt class="text-upper">D.O.B.</dt>
        <dd>1994/05</dd>

        <dt class="text-upper">Address</dt>
        <dd>Toronot, ON, CA</dd>

        <dt class="text-upper">E-mail</dt>
        <dd>
          <a href="mailto:xin2.lin@ryerson.ca">
            xin2.lin@ryerson.ca</a>
        </dd>

        <!-- <dt class="text-upper">Phone #</dt>
        <dd>+1 647-XXX-XXX</dd> -->
        <!-- <dd style="text-decoration:underline;"><a href="mailto:davidchen014@gmail.com">prefer email me first to get
            contact info</a></dd> -->

        <dt class="text-upper">Stutus</dt>
        <dd>Full Time 3<sup>rd</sup> Year Student</dd>
        <dd>Candidate of Early Childhood Studies @ Ryerson University</dd>
      </dl>
    </div>
    <!-- .col-sm-6 -->

    <!-- <div class="col-sm-6 clear-mrg">
      <h2 class="title-thin text-muted">Languages</h2>

      <div class="progress-bullets ace-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0"
        aria-valuemax="10">
        <strong class="progress-title">English</strong>
        <span class="progress-bar">
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
        </span>
        <span class="progress-text text-muted">Native</span>
      </div>

      <div class="progress-bullets ace-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0"
        aria-valuemax="10">
        <strong class="progress-title">Mandarin</strong>
        <span class="progress-bar">
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
        </span>
        <span class="progress-text text-muted">Native</span>
      </div>
    </div> -->
    <!-- .row -->
</section>