<!--
 * @Author: BDFD
 * @Date: 2021-10-20 11:53:51
 * @LastEditTime: 2022-03-26 13:06:14
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\02IntroPage\01AboutMe.ejs
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<!-- <h2 align="center" class="title-lg text-upper">Welcome to My Teaching Portfolio</h2> -->
			<h2 align="center" class="title-lg">About Me</h2>
			<p style="text-indent:50px;">
				My name is Xin Lin, a third-year Early Childhood Studies student from Ryerson University. As a
				registered early childhood educator with a two-year valid Early Childhood Studies diploma from George
				Brown College, I have four years of working experience with children aged from infancy to kindergartner
				in Toronto licensed childcare centers. Besides, I am fluent in both English and Mandarin. I used to work
				as a bilingual teacher in China’s international school with children from age four to six last year.
			</p>
			<p style="text-indent:50px;">
				I have experience not only in curriculum planning and teaching, but also in helping students from
				culturally diverse backgrounds and children with various special needs. I have knowledge in both
				played-based program planning and program-based learning curriculum design. I am familiar with relevant
				Ontario educational documents such as How Does Learning Happened, The Kindergarten Program, and The
				Ontario Curriculum Grades 1-8. In addition, I have experience in cooperating with a different resource
				centre to address parents' parenting concerns and assist children's learning development based on their
				individual needs.
			</p>
			<p style="text-indent:50px;">
				Because becoming a great educator is my biggest goal, I have decided to continue my education degree at
				Ryerson University in the fall of 2021. As an educator, I feel that parenting is the most critical
				factor in a child's development, so I value the home-school relationship. I like to create a program to
				address the needs of each child and share information to support parents in improving their parenting
				skills. As a current student-teacher, I also hope to have the opportunity to connect with parents and
				use what I have learned to help different families and learn how to be a better educator.</p>
		</div>
	</div>
</section>