<!--
 * @Author: BDFD
 * @Date: 2021-10-20 11:53:51
 * @LastEditTime: 2022-03-24 12:01:51
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\02IntroPage\02MyTeachingPhilosophy.ejs
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<!-- <h2 align="center" class="title-lg text-upper">Welcome to My Teaching Portfolio</h2> -->
			<h2 align="center" class="title-lg">My Teaching Philosophy & Goals</h2>
			<p style="text-indent:50px;">
				My educational philosophy is that each child is unique and needs a stimulating educational environment
				in which to develop physically, mentally, emotionally, and socially. It is my goal to establish an
				environment where students can reach their maximum potential. I will create an inclusive learning
				environment in which all kinds of students are encouraged to share their thoughts and take risks.
			</p>
			<p style="text-indent:50px;">
				As an educator, it’s my responsibility to create a learning environment that can support each child’s
				development of well-being, belonging, expression and engagement. I will plan my curriculum based on each
				child’s interests and needs, and help children to get the opportunity to develop fully in the learning
				environment. What’s more, my teaching program will also need to contribute to the family’s development
				of well-being, belonging, expression and engagement.
			</p>
			<p style="text-indent:50px;">
				One of my teaching values is that educators need to consider the diversity of the family and be
				inclusive to all the individual children. Every classroom has its unique community, and it will be my
				job as the teacher to help each child reach their full potential and learn in their way. I will plan my
				curriculum that involves each child’s different learning styles and make the teaching moment relate to
				their family culture. I will use various teaching strategies to support children’s growth, such as
				open-ended activities, hands-on learning experiences, and themes learning. Besides, I will also involve
				children’s funds of knowledge from the family into my classroom, and cooperate with family to support
				children’s learning.
			</p>
			<p style="text-indent:50px;">
				One of my developmental goals for my 3<sup>rd</sup> year’s placement is to learn how to plan the
				curriculum to
				ensure all children will have the opportunity to succeed in my classrooms, regardless of gender, race,
				ability, or social class. Another of my developmental goals for my 3<sup>rd</sup> year’s placement is to
				learn how
				to plan the curriculum to contribute the family engagement. I will use different communication
				strategies to interact with the family and empower them to take the lead in their children’s learning
				growth.
			</p>
		</div>
	</div>
</section>