<!--
 * @Date         : 2022-12-03 22:19:07
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2022-12-03 22:38:43
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\PageEdit\02IntroPage\02MyTeachingPhilosophy.ejs
 * Copyright (c) 2022 by BDFD, All Rights Reserved. 
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<!-- <h2 align="center" class="title-lg text-upper">Welcome to My Teaching Portfolio</h2> -->
			<h2 align="center" class="title-lg">My Teaching Philosophy & Goals
			</h2>
			<p style="text-indent:50px;">
				My educational philosophy is that each child is unique and needs
				a stimulating educational environment in which to develop
				physically, mentally, emotionally, and socially. It is my goal
				to establish an environment where students can reach their
				maximum potential. I will create an inclusive learning
				environment in which all kinds of students are encouraged to
				share their thoughts and take risks.
			</p>
			<p style="text-indent:50px;">
				As an educator, it’s my responsibility to create a play-based
				learning environment that can support each child’s development
				of well-being, belonging, expression and engagement. I will plan
				my curriculum based on each child’s interests and needs, and
				help children to get the opportunity to develop fully in the
				learning environment. What’s more, my teaching program will also
				need to contribute to the family’s development of well-being,
				belonging, expression and engagement. In addition, I am putting
				a high value on the connection between children and the natural
				environment. I am passionate about using the natural environment
				to create different learning opportunities for children.
			</p>
			<p style="text-indent:50px;">
				One of my teaching values is that educators need to consider the
				diversity of the family and be inclusive to all the individual
				children. Every classroom has its unique community, and it will
				be my job as the teacher to help each child reach their full
				potential and learn in their way. I will plan my curriculum that
				involves each child’s different learning styles and make the
				teaching moment relate to their family culture. I will use
				various teaching strategies to support children’s growth, such
				as open-ended activities, hands-on learning experiences, and
				themes learning. Besides, I believe that families play a vital
				role in the development of children. As an educator, one of my
				roles is to empower the family so that they can take the lead in
				their children’s learning development. Therefore, I will also
				involve children’s funds of knowledge from the family in my
				classroom, and cooperate with the family to support children’s
				learning.
			</p>
			<p style="text-indent:50px;">
				One of my developmental goals for my 4th year’s placement is to
				learn how to plan the curriculum to ensure all children will
				have the opportunity to succeed in my classrooms, regardless of
				gender, race, ability, or social class. Another of my
				developmental goals for my 4th year’s placement is to learn how
				to plan the curriculum to contribute the family engagement. I
				will use different communication strategies to interact with the
				family and empower them to take the lead in their children’s
				learning growth.
			</p>
		</div>
	</div>
</section>