<!--
 * @Author: BDFD
 * @Date: 2022-03-23 16:58:52
 * @LastEditTime: 2022-06-02 13:46:45
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\03Edu&Achievement\01FormalEducation.ejs
-->
<section class="section clear-mrg">
	<h2 class="title-lg text-upper">Formal Education</h2>
	<div class="padd-box-sm clear-mrg">
		<div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img alt="Ryerson University Logo"
					src="images/My Exp/Ryerson.png"
					class="avatar avatar-54 photo" height="75" width="75" />
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Toronto Metropolitan University, Toronto</strong>
					<p>Early Childhood Studies program — Bachelor’s degree</p>
					<span>June,2020 - April,2023</span>
				</div>
				<!-- <blockquote class="ref-cont clear-mrg">
                    <p><i class="fas fa-trophy"></i> School Band : Sep 2008 - June 2009
                    </p>
                    <p><i class="fas fa-trophy"></i> Math Club : Sep, 2007 - June 2009
                    </p>
                    <p><i class="fas fa-trophy"></i> Swimming Team : March 2006 - June 2009</p>
                    </p>
                </blockquote> -->
			</div>
		</div>
		<!-- .exp-box-1 -->
		<div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img alt="George Brown College Logo" src="images/My Exp/GBC.png"
					class="avatar avatar-54 photo" height="60" width="60" />
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>George Brown College, Toronto</strong>
					<p>Early Childhood Education Program — Diploma</p>
					<span>Sep,2014 - May,2016</span>
				</div>
			</div>
		</div>
		<!-- .exp-box-2 -->
	</div>
	<!-- .padd-box-sm -->
</section>