<!--
 * @Author: BDFD
 * @Date: 2022-03-23 16:58:51
 * @LastEditTime: 2022-03-23 17:41:54
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\03Edu&Achievement\02WorkExperience.ejs
-->
<section class="section clear-mrg">
	<h2 class="title-lg text-upper">Working Experience</h2>
	<div class="padd-box-sm clear-mrg">
		<div class="ref-box brd-btm hreview">
			<!-- <div class="ref-avatar">
				<img alt="Company Logo"
					src="images/My Exp/RongQiaoSedberghSchool.png"
					class="avatar avatar-54 photo" height="70" width="70" />
			</div> -->
			<div class="ref-info">
				<div class="ref-author">
					<strong>Banting and Best Child Care Centre</strong>
					<strong>380 Goldhawk Trail, Scarborough,
						<br>Ontario M1V 4E7</strong>
					<span>Position:Supply RECE</span>
					<span>Teach Level:Preschool to School age</span>
					<span>July,2022 - Now</span>
				</div>
			</div>
		</div>
		<div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img alt="Company Logo"
					src="images/My Exp/RongQiaoSedberghSchool.png"
					class="avatar avatar-54 photo" height="70" width="70" />
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Rong Qiao Sedbergh School</strong>
					<strong>No. 466 Jinbin Road, Binhai New
						City,<br>ChangleDistrict, Fuzhou, Fujian, China</strong>
					<span>Position:Bilingual Teacher</span>
					<span>Teach Level:Kindergarten</span>
					<span>Oct,2020 - Mar,2021</span>
				</div>
			</div>
		</div>
		<!-- .exp-box-1 -->
		<div class="ref-box brd-btm hreview">
			<!-- <div class="ref-avatar">
				<img alt="Company Logo" src="images/My Exp/no.jpg" class="avatar avatar-54 photo" height="54"
					width="54" />
			</div> -->
			<div class="ref-info">
				<div class="ref-author">
					<strong>Today's Child-Tomorrow's Future Day Care
						Centre</strong>
					<strong>725 Danforth Rd, Scarborough,<br>Ontario, M1K 1G4
					</strong>
					<span>Position:RECE</span>
					<span>Teach Level:Junior Preschool</span>
					<span>Dec,2017- Nov,2019</span>
				</div>
			</div>
		</div>
		<!-- .exp-box-2 -->
		<div class="ref-box brd-btm hreview">
			<!-- <div class="ref-avatar">
				<img alt="Company Logo" src="images/My Exp/no.jpg" class="avatar avatar-54 photo" height="54"
					width="54" />
			</div> -->
			<div class="ref-info">
				<div class="ref-author">
					<strong>Angel Child Care Learning Centre</strong>
					<strong>25 Thunder Grove, Scarborough,<br>Ontario, M1V 3M2
					</strong>
					<span>Position:Lead Teacher</span>
					<span>Teach Level:Junior Preschool</span>
					<span>Oct,2016- Nov,2017</span>
				</div>
			</div>
		</div>
		<!-- .exp-box-3 -->
		<div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img alt="Company Logo" src="images/My Exp/LearningJungle.png"
					class="avatar avatar-54 photo" height="54" width="54" />
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Learning Jungle Kennedy Daycare</strong>
					<strong>3376 Kennedy Rd #101, Scarborough,<br>Ontario, M1V
						3S8</strong>
					<span>Position:Supply ECE</span>
					<span>Teach Level:School age, Toddler and
						Kindergarten</span>
					<span>July,2016- Oct,2016</span>
				</div>
			</div>
		</div>
		<!-- .exp-box-4 -->
	</div>
	<!-- .padd-box-sm -->
</section>