<!--
 * @Date         : 2022-12-03 22:19:07
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2022-12-03 22:54:24
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\PageEdit\03Edu&Achievement\03PlacementExperience.ejs
 * Copyright (c) 2022 by BDFD, All Rights Reserved. 
-->

<section class="section clear-mrg">
	<h2 class="title-lg text-upper">Placement Experience</h2>
	<div class="padd-box-sm clear-mrg">
		<div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img alt="Company Logo"
					src="images/My Exp/MillikenPublicSchoolLogo.jpg"
					class="avatar avatar-54 photo" height="70" width="70" />
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Milliken Public School</strong>
					<strong>130 Port Royal Trail, Scarborough,<br>Ontario M1V
						2T4</strong>
					<span>Position:Student Teacher</span>
					<span>Toronto District School Board- Kindergarten</span>
					<span>Sep,2022 - Dec,2022</span>
				</div>
			</div>
		</div>
		<div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img alt="Company Logo" src="images/My Exp/uoft.png"
					class="avatar avatar-54 photo" height="70" width="70" />
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Child Care in University of Toronto</strong>
					<strong>Charles-35 Charles St W, Toronto,<br>Ontario, M4Y
						2R4</strong>
					<span>Position:Student Early Childhood Educator</span>
					<span>Teach Level:(LAB school)-Infant</span>
					<span>Jan,2016 - Feb,2016</span>
				</div>
			</div>
		</div>
		<!-- .exp-box-1 -->
		<div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img alt="Company Logo" src="images/My Exp/royalroad.png"
					class="avatar avatar-54 photo" height="54" width="54" />
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Rolph Road Public School</strong>
					<strong>31 Rolph Rd, East York,<br>Ontario, M4G 3M5</strong>
					<span>Position:Student Early Childhood Educator</span>
					<span>Teach Level:Kindergarten</span>
					<span>Sep,2015- Oct,2015</span>
				</div>
			</div>
		</div>
		<!-- .exp-box-2 -->
		<div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img alt="Company Logo" src="images/My Exp/sunnybrook.png"
					class="avatar avatar-54 photo" height="54" width="54" />
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Sunnybrook Creche</strong>
					<strong>2075 Bayview Ave, Toronto,<br>Ontario, M4N
						3M5</strong>
					<span>Position:Lead Student Early Childhood Educator</span>
					<span>Teach Level:Toddler</span>
					<span>Mar,2015- April,2015</span>
				</div>
			</div>
		</div>
		<!-- .exp-box-3 -->
		<div class="ref-box brd-btm hreview">
			<div class="ref-avatar">
				<img alt="Company Logo" src="images/My Exp/davisville.png"
					class="avatar avatar-54 photo" height="54" width="54" />
			</div>
			<div class="ref-info">
				<div class="ref-author">
					<strong>Davisville Early Learning and Child Care
						Centre</strong>
					<strong>41 Millwood Rd,<br>Ontario, M4S 1J6</strong>
					<span>Position:Student Early Childhood Educator</span>
					<span>Teach Level:Preschool </span>
					<span>Nov,2014- Dec,2014</span>
				</div>
			</div>
		</div>
		<!-- .exp-box-4 -->
	</div>
	<!-- .padd-box-sm -->
</section>