<!--
 * @Author: BDFD
 * @Date: 2022-03-23 13:45:20
 * @LastEditTime: 2022-03-24 12:40:42
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\03Edu&Achievement\04ProfessionalCertificate.ejs
-->
<section class="section">
	<h2 class="title-lg text-upper">Professional Certificate</h2>
	<!-- <h2 class="title-thin text-muted">Awards and Achievements Hightlights</h2> -->
	<div class="row">
		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img src="images\My Exp\RECE.png" alt="Certifiate 1" />
				</figure>
				<h3 class="award-title" style="margin-bottom: 0px;">
					Registered Early Childhood Educator<sup style="background-color: lightblue">Aug, 2016</sup>
				</h3>
				<div class="award-text clear-mrg" style="margin-top: 0px;">
					<p>
						<a href="#" target="_blank">Click to View Detail</a>
					</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->
		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img src="images\My Exp\Standard_First_Aid_CPRAED_LevelC_Certificate.png" alt="Certifiate 2" />
				</figure>
				<h3 class="award-title" style="margin-bottom: 0px;">
					Standard First Aid & CPR/AED Level C Certificate <sup style="background-color: lightblue">Jan,
						2022</sup>
				</h3>
				<div class="award-text clear-mrg" style="margin-top: 0px;">
					<p>
						<a href="#" target="_blank">Click to View Detail</a>
					</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->
	</div>
	<!-- .row -->
</section>