<!--
 * @Author: BDFD
 * @Date: 2022-03-23 13:45:20
 * @LastEditTime: 2022-03-23 17:42:59
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\03Edu&Achievement\03ProfessionalCertificate.ejs
-->
<section class="section">
	<h2 class="title-thin text-muted">Awards and Achievements Hightlights</h2>
	<p>
		More than 5 Specilizations/Certificates, Over 35 courses and more...<br />
		<a href="http://github.com/bdfd/5.0_Certificate-Folder" target="_blank">View Full Certificate Folder</a>
	</p>
	<div class="row">
		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img src="images\My Exp\Specialization-IBM Data Analysis and Visualization Foundations.jpg"
						alt="Certifiate 1" />
				</figure>

				<h3 class="award-title">
					IBM Data Analysis & Visualization<sup style="background-color: lightblue">Oct, 2021</sup>
				</h3>

				<div class="award-text clear-mrg">
					<p>
						3 Course with ~ 32 hrs
						<a href="https://github.com/bdfd/5.0_Certificate-Folder/blob/main/1.0-Data%20Analytics/Specialization-Data%20Analysis%20and%20Visualization%20Foundations/Specialization-Data%20Analysis%20and%20Visualization%20Foundations.pdf"
							target="_blank">VIEW</a>
					</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->

		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img src="images\My Exp\Specialization-Fundamentals of Visualization with Tableau.jpg"
						alt="Certifiate 2" />
				</figure>

				<h3 class="award-title">
					Data Viz with Tableau Specialization<sup style="background-color: lightblue">Apr, 2021</sup>
				</h3>

				<div class="award-text clear-mrg">
					<p>
						5 Course with ~ 72 hrs
						<a href="https://github.com/bdfd/5.0_Certificate-Folder/blob/main/4.0-Visualization/Specialization-Fundamentals%20of%20Visualization%20with%20Tableau/Specialization-Fundamentals%20of%20Visualization%20with%20Tableau.pdf"
							target="_blank">VIEW</a>
					</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->
	</div>
	<!-- .row -->
</section>