<!--
 * @Author: BDFD
 * @Date: 2022-03-23 13:45:20
 * @LastEditTime: 2022-03-24 12:57:46
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\03Edu&Achievement\05ProfessionalDevelopment.ejs
-->
<section class="section">
    <h2 class="title-lg text-upper">Professional Development</h2>
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="images\My Exp\Child_Sexual_Abuse_Prevention_Training_for_those_Working_with_Children.png"
                        alt="Certifiate 1" />
                </figure>
                <h3 class="award-title" style="margin-bottom: 0px;">
                    Commit to Kids - Child Sexual Abuse Prevention Training for those Working with Children<sup
                        style="background-color: lightblue">Mar,
                        2022</sup>
                </h3>
                <div class="award-text clear-mrg">
                    <p>
                        <a href="#" target="_blank">Click to View Detail</a>
                    </p>
                </div><br>
            </div>
        </div>
        <!-- .col-sm-6 -->
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="images\My Exp\Everyday_Parenting_The_ABCs_of_Child_Rearing.png" alt="Certifiate 2" />
                </figure>
                <h3 class="award-title" style="margin-bottom: 0px;">
                    Everyday Parenting: The ABCs of Child Rearing<sup style="background-color: lightblue">Feb,
                        2022</sup>
                </h3>
                <div class="award-text clear-mrg">
                    <p>
                        <a href="#" target="_blank">Click to View Detail</a>
                    </p>
                </div>
                <br>
                <br>
            </div>
        </div>
        <!-- .col-sm-6 -->
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="images\My Exp\Managing_Asthma_Allergies_Diabetes_and_Seizures_in_School.png"
                        alt="Certifiate 3" />
                </figure>
                <h3 class="award-title" style="margin-bottom: 0px;">
                    Managing Asthma, Allergies, Diabetes, and Seizures in School<sup
                        style="background-color: lightblue">Mar,
                        2020</sup>
                </h3>
                <div class="award-text clear-mrg" style="margin-top: 0px;">
                    <p>
                        <a href="#" target="_blank">Click to View Detail</a>
                    </p>
                </div>
                <br>
            </div>
        </div>
        <!-- .col-sm-6 -->
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="images\My Exp\Managing_ADHD_Autism_Learning_Disabilities_and_Concussion_in_School.png"
                        alt="Certifiate 4" />
                </figure>
                <h3 class="award-title" style="margin-bottom: 0px;">
                    Managing ADHD, Autism, Learning Disabilities, and Concussion in School<sup
                        style="background-color: lightblue">April,
                        2020</sup>
                </h3>
                <div class="award-text clear-mrg" style="margin-top: 0px;">
                    <p>
                        <a href="#" target="_blank">Click to View Detail</a>
                    </p>
                </div>
            </div>
            <br>
        </div>
        <!-- .col-sm-6 -->
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="images\My Exp\Autism_Spectrum_Disorder.png" alt="Certifiate 2" />
                </figure>
                <h3 class="award-title" style="margin-bottom: 0px;">
                    Autism Spectrum Disorder<sup style="background-color: lightblue">Jan,
                        2020</sup>
                </h3>
                <div class="award-text clear-mrg" style="margin-top: 0px;">
                    <p>
                        <a href="#" target="_blank">Click to View Detail</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- .col-sm-6 -->
    </div>
    <!-- .row -->
</section>