<!--
 * @Author: BDFD
 * @Date: 2021-10-10 13:47:41
 * @LastEditTime: 2022-03-24 13:06:08
 * @LastEditors: BDFD
 * @Description: In User Settings Edit
 * @FilePath: \SideProject054_XinPortfolio\views\PageEdit\03Edu&Achievement\05Workshop.ejs
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg">
			<h2 class="title-lg text-upper">Workshop</h2>
			<p>
				<i class="fas fa-users-cog"></i> Workshop: Coping with Emotions
				<sup style="background-color: lightblue">Feb,2019</sup>
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Workshop: Discover, Understand, Support: The Unseen Sensory System
				Behind Childrens' Behaviours
				<sup style="background-color: lightblue">Feb,2019</sup>
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Workshop: Behavior Management: The Tricks and Tools
				<sup style="background-color: lightblue">Jan,2018</sup>
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Workshop: AQI Community of Practice
				<sup style="background-color: lightblue">April,2017</sup>
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Workshop: Behavioral Management
				<sup style="background-color: lightblue">April,2017</sup>
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Workshop: Foundations for Learning Series Part 1 & 3
				<sup style="background-color: lightblue">Oct,2017</sup>
			</p>
			<p>
				<i class="fas fa-users-cog"></i> ADHD: Everyday Strategies for Elementary Students
				<sup style="background-color: lightblue">Nov,2015</sup>
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Child Abuse Course-George Brown College
				<sup style="background-color: lightblue">Nov,2015</sup>
			</p>
		</div>
	</div>
</section>